.sidebar {
  position: sticky;
  top: 50px;
  flex: 3;
  height: calc(100vh - 50px);
  background-color: var(--background-color);
  color: var(--primary-text-color);
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebarIcon {
  margin-right: 15px;
}

.sidebarButton {
  width: 150px;
  padding: 10px;
  border: none;
  background-color: var(--button-color);
  color: var(--primary-text-color);
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
}

.sidebarHr {
  margin: 20px 0;
}

.sidebarFriendList {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Ipad*/
@media screen and (min-width: 768px) and (max-width: 1160px) {

  .sidebar {
    flex: none;
    width: 24%;
  }

}

/* mobile */
@media screen and (min-width: 320px) and (max-width: 767.9px) {
  .sidebar {
    display: none;
  }
}