.post {
	width: 100%;
	margin: 30px 0;
	-webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	background-color: var(--contrast-color);
	color: var(--primary-text-color);
	border-radius: 10px;
}

.postWrapper {
	padding: 10px;
}

.postTop {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.postTopLeft {
	display: flex;
	align-items: center;
}

.postProfileImg {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: cover;
}

.postUsername {
	margin: 0 10px;
	font-size: 15px;
	font-weight: 500;
}

.postDate {
	color: var(--secondary-text-color);
	font-size: 12px;
}

.postCenter {
	margin: 20px 0;
}

.postImg {
	width: 100%;
	margin-top: 20px;
	max-height: 500px;
	object-fit: cover;
}

.postBottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.postBottomLeft {
	display: flex;
	align-items: center;
}

.likeIcon {
	width: 24px;
	height: 24px;
	margin-right: 5px;
	cursor: pointer;
}

.postLikeCounter {
	font-size: 15px;
}

.postCommentText {
	font-size: 15px;
	cursor: pointer;
	border-bottom: 1px dashed gray;
}

@media screen and (min-width: 768px) and (max-width: 1160px) {
	.post {
		margin: 10px 0;
	}

	.postCenter {
		margin: 10px 0;
	}

	.likeIcon {
		width: 22px;
		height: 22px;
	}

	.postLikeCounter {
		font-size: 15px;
	}

	.postCommentText {
		font-size: 15px;
		cursor: pointer;
		border-bottom: 1px dashed gray;
	}
}

/* mobile */
@media screen and (min-width: 320px) and (max-width: 767.9px) {
	.post {
		margin: 10px 0;
	}
}
