.feed {
	flex: 5.5;
}

.feedWrapper {
	padding: 20px;
}

.feed {
	flex: 5.5;
}

.feedWrapper {
	padding: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1160px) {
	.feed {
		flex: none;
		width: 53%;
	}

	.feedWrapper {
		padding: 1% 1% 1% 2%;
	}
}
